<nb-accordion multi>
    <nb-accordion-item expanded="true">
      <nb-accordion-item-header>
        Piping Name
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="d-flex">
          <div class="align-self-end">
            <img 
              src="../../../assets/image/pipe.jpg" 
              alt="profile name" 
              width="100%" 
              style="cursor: pointer;"
              class="img-thumbnail rounded">
          </div>
  
          <form action="" nbForm class="d-flex mx-2">
              <div class="d-flex flex-column mx-2">
                  <label for="recomendation" class="mb-2">Recomendation</label>
                  <textarea nbInput name="recomendation" id="recomendation" cols="30" rows="6"></textarea>
              </div>
              <div class="mx-2">
                <label class="d-block" for="dateInService" class="mb-1">Date In Service</label>
                <input nbInput type="text" id="dateInService">
                <label class="d-block" for="class" class="mb-1">Class</label>
                <input nbInput type="text" id="class">
                <label class="d-block" for="notes" class="mb-1">Notes</label>
                <input nbInput type="text" id="notes">
              </div>
          </form>

          <div>
            <div class="border rounded">
              <ngx-qrcode
                [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="value"
              ></ngx-qrcode>
            </div>
          </div>

        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item expanded="true">
      <nb-accordion-item-header>
        CML Visual
      </nb-accordion-item-header>
      <nb-accordion-item-body class="w-100">

        <div class="w-100 d-flex justify-content-between">

          <mat-form-field>
            <mat-label>Leaks</mat-label>
            <mat-select>
              <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Supports</mat-label>
            <mat-select>
              <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Misalignment</mat-label>
            <mat-select>
              <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="w-100 d-flex justify-content-between">

          <mat-form-field>
            <mat-label>Supports</mat-label>
            <mat-select>
              <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Corrosion</mat-label>
            <mat-select>
              <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Insulation</mat-label>
            <mat-select>
              <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item expanded="true">
      <nb-accordion-item-header>
        CML Thickness
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="row">
          <div class="col-4 my-4">
            <label for="reading" class="m-2 d-block">Reading</label>
            <input type="text" class="m-2" id="reading" nbInput>
            <label for="thickMin" class="m-2 d-block">Thick. Min</label>
            <input type="text" class="m-2" id="thickMin" nbInput>
            <label for="crLongTerm" class="m-2 d-block">Long Term CR</label>
            <input type="text" class="m-2" id="crLongTerm" nbInput>
          </div>
          <div class="col-4 my-4">
            <label for="crShortTerm" class="m-2 d-block">Short Term CR</label>
            <input type="text" class="m-2" id="crShortTerm" nbInput>
            <label for="remainingLife" class="m-2 d-block">Remaining Life</label>
            <input type="text" class="m-2" id="remainingLife" nbInput>
            <label for="halfLife" class="m-2 d-block">Half Life</label>
            <input type="text" class="m-2" id="halfLife" nbInput>
          </div>
          <div class="col-4 my-4">
            <label for="retirementDate" class="m-2 d-block">Retirement Date</label>
            <input type="text" id="retirementDate" nbInput>
          </div>
        </div>

      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item expanded="true">
        <nb-accordion-item-header>
          CML Demage Mechanism
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <label for="activeDamageMechanism" class="m-2">Active Damage Mechanism</label>
          <textarea nbInput name="activeDamageMechanism" id="activeDamageMechanism" fullWidth rows="8"></textarea>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item expanded="true">
        <nb-accordion-item-header>
          Inspection History
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item expanded="true">
      <nb-accordion-item-header>
        Inspection Method
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>

</nb-accordion>