<nb-accordion>
    <nb-accordion-item expanded="true">
     <nb-accordion-item-header>General</nb-accordion-item-header>
     <nb-accordion-item-body>
        <div class="d-flex justify-content-between">

            <div>
                <mat-form-field>
                    <mat-label>Condition</mat-label>
                    <mat-select>
                      <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="w-100 mx-4">
                <label class="d-block mb-2" for="finding">Finding</label>
                <textarea nbInput name="finding" id="finding" fullWidth rows="5"></textarea>
            </div>
    
            <div class="w-100">
                <label class="d-block mb-2" for="recomendation">Recomendation</label>
                <textarea nbInput name="recomendation" id="recomendation" fullWidth rows="5"></textarea>
            </div>

        </div>
        
     </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item expanded="true">
        <nb-accordion-item-header>External Checklist</nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="row">
                <div class="col-6">
                    <section>
                        <div>
                            <label class="d-block mb-2" for="finding">Leaks</label>
                            <mat-form-field>
                                <mat-label>Leaks</mat-label>
                                <mat-select>
                                <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="w-100">
                            <textarea nbInput name="finding" id="finding" fullWidth rows="5"></textarea>
                        </div>
        
                        <nb-list>
                            <nb-list-item 
                            *ngFor="let item of ['Process', 'Steam Tracking', 'Existing Clamp']" 
                            class="d-flex justify-content-between">
                                <span>{{ item }}</span>
                                <div>
                                    <nb-checkbox 
                                    *ngFor="let item of [1,2]" 
                                    class="mx-2"
                                    (checkedChange)="toggle($event)"></nb-checkbox>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </section>

                    
                    <section class="pt-5">
                        <div>
                            <label class="d-block mb-2" for="finding">Vibration</label>
                            <mat-form-field>
                                <mat-label>Vibration</mat-label>
                                <mat-select>
                                <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="w-100">
                            <textarea nbInput name="finding" id="finding" fullWidth rows="5"></textarea>
                        </div>
        
                        <nb-list>
                            <nb-list-item 
                            *ngFor="let item of [
                                'Excessive Overhung Weight', 
                                'Inadequate Support', 
                                'Thin, Small-bore, or Alloy Piping',
                                'Threaded Connections',
                                'Loose Support Causing Metal Wear'
                            ]" 
                            class="d-flex justify-content-between">
                                <span>{{ item }}</span>
                                <div>
                                    <nb-checkbox 
                                    *ngFor="let item of [1,2]" 
                                    class="mx-2"
                                    (checkedChange)="toggle($event)"></nb-checkbox>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </section>

                                    
                    <section class="pt-5">
                        <div>
                            <label class="d-block mb-2" for="finding">Supports</label>
                            <mat-form-field>
                                <mat-label>Supports</mat-label>
                                <mat-select>
                                <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="w-100">
                            <textarea nbInput name="finding" id="finding" fullWidth rows="5"></textarea>
                        </div>
        
                        <nb-list>
                            <nb-list-item 
                            *ngFor="let item of [
                                'Shoes Of Supports', 
                                'Hanger Distorsion of Breakage', 
                                'Bottomed Out Springs',
                                'Brace Distorsion/Breakage',
                                'Loose Brackets',
                                'Slides Plates/Rollers',
                                'Counter Balance Condition',
                                'Support Corrosion'
                            ]" 
                            class="d-flex justify-content-between">
                                <span>{{ item }}</span>
                                <div>
                                    <nb-checkbox 
                                    *ngFor="let item of [1,2]" 
                                    class="mx-2"
                                    (checkedChange)="toggle($event)"></nb-checkbox>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </section>
                </div>



                <div class="col-6">
                    <section>
                        <div>
                            <label class="d-block mb-2" for="finding">Misalignment</label>
                            <mat-form-field>
                                <mat-label>Misalignment</mat-label>
                                <mat-select>
                                <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="w-100">
                            <textarea nbInput name="finding" id="finding" fullWidth rows="5"></textarea>
                        </div>
        
                        <nb-list>
                            <nb-list-item 
                            *ngFor="let item of ['Piping Misalignment', 'Expain Joint Misalignment', 'Existing Clamp']" 
                            class="d-flex justify-content-between">
                                <span>{{ item }}</span>
                                <div>
                                    <nb-checkbox 
                                    *ngFor="let item of [1,2]" 
                                    class="mx-2"
                                    (checkedChange)="toggle($event)"></nb-checkbox>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </section>

                    <section class="pt-5">
                        <div>
                            <label class="d-block mb-2" for="finding">Corrosion</label>
                            <mat-form-field>
                                <mat-label>Corrosion</mat-label>
                                <mat-select>
                                <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="w-100">
                            <textarea nbInput name="finding" id="finding" fullWidth rows="5"></textarea>
                        </div>
        
                        <nb-list>
                            <nb-list-item 
                            *ngFor="let item of [
                                'Bolting Support Points Under Clamps', 
                                'Coating/Painting Deterioration', 
                                'Soil-to-air Interfaces',
                                'Insulation Interfaces',
                                'Biloogical Growth'
                            ]" 
                            class="d-flex justify-content-between">
                                <span>{{ item }}</span>
                                <div>
                                    <nb-checkbox 
                                    *ngFor="let item of [1,2]" 
                                    class="mx-2"
                                    (checkedChange)="toggle($event)"></nb-checkbox>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </section>

                    
                    <section class="pt-5">
                        <div>
                            <label class="d-block mb-2" for="finding">Insulation</label>
                            <mat-form-field>
                                <mat-label>Insulation</mat-label>
                                <mat-select>
                                <mat-option [value]="item" *ngFor="let item of [1,2,3,4]">{{ item }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="w-100">
                            <textarea nbInput name="finding" id="finding" fullWidth rows="5"></textarea>
                        </div>
        
                        <nb-list>
                            <nb-list-item 
                            *ngFor="let item of [
                                'Damage/Penetrations', 
                                'Missing Jacketing Insulation', 
                                'Sealing Deterioration',
                                'Bulging',
                                'Banding (Broken/Missing)'
                            ]" 
                            class="d-flex justify-content-between">
                                <span>{{ item }}</span>
                                <div>
                                    <nb-checkbox 
                                    *ngFor="let item of [1,2]" 
                                    class="mx-2"
                                    (checkedChange)="toggle($event)"></nb-checkbox>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </section>
                </div>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>